{% extends "layout.html" %}
{% block content %}
<main>
  <div class = "about">
    <div class = "about title">
      <h1>Senti2Soundとは</h1>
      <p>感情を美しいメロディーに変換する革新的なサービス。</p>
  </div>
  <div class="content">
    <div class = "description">
      <h2>私たちの物語</h2>
      <p>senti2soundは、感情とメロディーの間に存在する溝を埋めるというシンプルながらも深遠な考えから生まれました。私たちは、すべての感情がメロディックな声、人間の経験の深さと共鳴する調和のとれた表現を持つべきだと信じています。</p>
    </div>
    <div class = "description">
      <h2>私たちのミッション</h2>
      <p>私たちのミッションは、ユーザーが感情を魅力的なメロディーに無理なく変換できるプラットフォームを作ることです。喜び、憂うつ、その間のどんな感情であっても、senti2soundはあなたの気持ちを美しい作品に変えることができます。</p>
    </div>
    <div class = "description">
      <h2>テクノロジー</h2>
      <p>最先端の人工知能と機械学習アルゴリズムによって支えられているsenti2soundは、あなたの言葉の中の感情を分析し、その本質を完璧に捉えたユニークなメロディーを生成します。高度な技術により、1音1音、1リズム1リズムが、あなたの内なる感情を直接反映したものになります。</p>
    </div>
  </div>
  </div>

</main>
{% endblock %}
