{% extends "templates/layout.html " %}
{% block content %}
    <main>
        <h1>Type a word.</h1>
        <h1>I will make special music for you.</h1>
        <div class="submit">
        <label for="feeling">How are you feeling now?</label>
        <form action="generate" method="post">
            <input class="text-box" type="text" id="feeling" placeholder="ex) Sad/Happy" name="senti"><br>
            <button class="button" type="submit">Submit</button>
        </form>
        </div>
    </main>
{% endblock %}