<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>S2S</title>
</head>

    <header>
        <div class="logo">
            <a href="/">Senti2Sound</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="">ABOUT</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer_logo">©︎Dyoshy</div>
    </footer>
</html>
